img/froggy-favicon.png
img/car_from_left.png
img/car_from_right.png
img/frogger.png
img/lilypad.png
img/tree.png
img/truck_from_left.png
img/truck_from_right.png
sound/game_over.mp3
sound/stage_theme.mp3
sound/win.mp3
img/.DS_Store
.DS_Store
img/lilypad2.png
img/lilypad4.png
