/* ---- 
DEFAUT
---- */
*,
:before,
:after {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

audio {
	display: none;
}

button {
	border-radius: 30px;
	margin: 2.5vh auto;
	padding: 10px 18px;
	font-family: "Press Start 2P", cursive;
	font-weight: bold;
	display: inline-block;
}

button:hover {
	background-color: lightgreen;
	color: green;
}

p {
	padding: 2.5vh 10vh;
}

h1 {
	margin: 5vh 10vh;
	color: forestgreen;
	font-size: 2.2em;
}

strong {
	color: darkgreen;
	font-size: 1.5em;
	display: block;
	margin-bottom: 20px;
}

/* ---- 
CLASSES
---- */
.container {
	width: 100vw;
	display: flex;
	align-items: flex-start;
	background-color: black;
	background-size: cover;
	font-family: "Press Start 2P", cursive;
	color: whitesmoke;
}

.container > .left {
	width: 45vw;
	text-align: center;
}

.disabled,
.disabled:hover {
	background-color: gray;
	color: rgba(0, 0, 0, 0.5);
}

.got:hover {
	color: darkslateblue;
	background-color: skyblue;
}

.pixel {
	display: table-cell;
	background-color: white;
	width: 20px;
	height: 20px;
}
.pixel.black {
	background-color: black;
}
.pixel.lightgreen {
	background-color: lightgreen;
}

.pixel.lightseagreen {
	background-color: lightseagreen;
}

.pixel.skyblue {
	background-color: darkslategray;
}

.pixel.sandybrown {
	background-color: sandybrown;
}

.pixel.white {
	background-color: white;
}

.right {
	width: 10 vw;
}

.right p {
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-size: 1.8em;
	letter-spacing: 0.7em;
}

.row {
	display: table-row;
}

.txt {
	margin: 2.5vh auto;
}

/* ---- 
ID
---- */
#art {
	display: table;
	border-spacing: 1px;
	background-color: black;
	border: 5px solid green;
	align-content: initial;
	margin: 0 auto;
	margin-top: 2.5vh;
}

#canvas {
	border: 5px solid green;
	margin: 5vh 0;
}
